[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cd-image
Actions=here;folder;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=application-x-cd-image
X-KDE-Submenu=Mount image
X-KDE-Submenu[it]=Monta immagine


[Desktop Action folder]
Name=Elsewhere
Name[it]=Altrove
Icon=edit-redo
Exec=f1=%f; f2=${f1%.*}; f3=${f2##*/}; mountPath=`kdialog --getexistingdirectory`; f4=$mountPath/$f3 && mkdir -p $f4 && kdesu -c "mount -o loop %f $f4"

[Desktop Action here]
Name=Here
Name[it]=Qui
Icon=circular-arrow-shape
Exec=filename=%f; mkdir -p ${filename%.*} && kdesu -c "mount -o loop %f ${filename%.*}"
